// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
	min-width: 320px;
}

h1 {
	word-wrap: break-word;
}

.list-group-item {
	padding: 0.5% 2%;
}

p#prevPageLink {
	margin-top: 20px;
}

input.searchInput {
	margin-left: 10px;
}

ul.categoriesList {
	li {
		height: 40px;
		word-wrap: break-word;
	}

	list-style: none;
	padding: 0 0 0 2%;
	margin: 4% 0 0 0;
}


a.editMode {
	display: none;
}

input.editCategory {
	display: none;
}

input.editMode {
	display: inline;
}

form.deleteCategoryForm {
	display: inline;
}

@media screen and (max-width: 768px){
	input.newCategoryInput {
		margin-bottom: 5px;
	}
}
